################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/bin/Debug/netcoreapp1.1
/.vs/LetsEncryptDACore/v15
